.accountForm {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    flex-wrap: wrap;
}

.accountForm div {
    margin: 5% 10% 0 10%;
}

.accountForm div:last-child {
    margin: 5% 0;
    width: 100%;
}

.accountForm div:last-child input {
    margin: 5% auto 0 auto;
    border: none;
    border-radius: 5px;
    width: 50%;
    padding: 1%;
    background-color: #0069D9;
    color: white;
}

.submitButton{
    height: auto !important;
}

.accountForm input {
    display: block;
    padding: 2px 7px;
    border-radius: 5px;
    border: none;
    width: 250px !important;
    height: 28px;
}

.accountForm label {
    display: inline-block;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 3%;
    text-align: left;
}

.errorSpan {

}
