h1{
    font-size:80px !important;
}

.DivDescription{
    border: 5px solid;
}

.DivVote{
    border: 5px solid;
}

.MemeImage{
    border: 10px solid;
    max-height: 80%;
}

html, body {
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #818384 !important;
    min-height: 600px;
    height: 100% !important;
}

.WriteSection{
    color: black;
}

.Contain{
    margin: 0px !important;
}