.memesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.NoNameYet{
    height: 400px !important;
    margin-right: 10px !important;
    margin-left: -6px !important;
}

.DivButtons{
    background-color: #676869;
    border: solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bouton{
    margin-right: 10px;
    margin-left: 10px;
    color: #ffffff !important;
}

.divLastUsers{
    height: 100%;
    width: 100%;
    background-color: #676869;
}

.memeSquare{
    width: 40%;
    margin-bottom: 20px;
    overflow: hidden !important;
}

.memeSquare img {
    width: 300px;
    max-height: 100%;
}

.memeSquare video {
    width: 300px;
    max-height: 100%;
}

img{
    max-width: 100% !important;
}

p{
    color: #ffffff;
}
